/*폰트 지정*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
html {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 반응형 웹페이지 */
@media screen and ( max-width: 954px ) {
    .wrapper {
        min-height: 10vh;
    }
    .content {
        float: left;
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
}
/* 데스크탑 */
@media screen and ( min-width: 954px ) {
    html {
        display: flex;
        justify-content: center;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        min-height: 10vh;
    }
    .content {
        width: 728px;
    }
    .sidebar {
        margin-left: 8px;
        width: 218px;
    }
}

/*수식 가로 스크롤 추가*/
.mjx-chtml {
	overflow-x: hidden;
	overflow-y: hidden;
    vertical-align: middle;
}
.mjx-chtml:hover {
	overflow-x: auto;
	overflow-y: hidden;
    vertical-align: middle;
}

code { 
font-family: monospace, monospace;
border: 1px solid #eee;
background-color: #fafafa;
border-radius: 4px;
padding: 2px;
margin: 0px;
padding-top:0px;
padding-bottom:0px; display: inline-block; }

a {
    color: black;
    text-decoration: none;
}
/* 링크 색 */
.content a {
    color: rgb(14, 66, 185);
    text-decoration: none;
}
/* .content a:visited {
    color: rgb(110, 62, 30);
    text-decoration: none;
} */

/*
.content blockquote {
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid;    
}*/

.content blockquote {
    margin: 0px;
    /* margin-left: 4px; */
    padding-left: 16px;
    padding-right: 16px;
    border-left: 4px solid gray;
}


img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}
th, td {
    border: 1px solid;
}

img[src$='#center'] {
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft'] {
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright'] {
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img + em, img + strong {
    display: block;
    text-align: center;
}

/** sidebar 최근 댓글 START **/
.current-reply {
    list-style-type: none;
    padding-left: 4px;
}

.current-reply li {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
/** sidebar 최근 댓글 END **/

#fastSearch { 
    visibility: hidden;
    position: fixed;
    right: 0;
    top: 0;
    display: inline-block;
    width: 300px;
  }      

#fastSearch input { 
padding: 4px 10px;
width: 100%;
height: 1.2em;
font-size: 1em;
color: #aaa;
font-weight: bold;
background-color: #000;
border-radius: 3px 3px 3px 3px;
border: none;
outline: none;
text-align: left;
display: inline-block;
}

#searchResults li { 
list-style: none;
color: white;
background-color: #333; 
border-bottom: 1px dotted #000;
}
#searchResults li .title {
    font-size: 1em;
    margin-bottom: 2px;
    display: inline-block;
    color: white;
}

#searchResults {
    visibility: inherit;
    display: inline-block;
    margin-top: 0px;
    margin-left: -40px;
    width: 320px;
}
#searchResults a {
    text-decoration: none !important;
    padding: 1px;
    display: inline-block;
}
#searchResults a:hover {
    outline: 0;
    background-color: #666;
    color: #fff;
}

/* 반응형 웹페이지 */
.mobile_search {
    width: 98%;
    height: 30px;
}

.mobile_search .search_box {
    width: 100%;
}

.mobile_search .search_box input {
    display: block;
    width: 98%;
    height: 30px;
    line-height: 30px;
    margin: 0 1% 0 1%;
    padding-left: 2%;
    font-size: 12px;
    float: left;
    border: 1px solid #808080;
    box-sizing: border-box;
}
